body {
  margin: 0;
  padding: 0;
  line-height: normal;
  background-image: url('../images/fieldswallpaper.jpg');
  font-family: alagard;
}

:root {
  /* font sizes */
  --font-size-11xl: 30px;
  /* Colors */
  --color-black: #000;
  --color-darkgray: #b3b3b3;
}

.card {
  position: absolute;
  width: 720px;
  height: 953px;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@font-face {
  font-family: alagard;
  src: url(alagard.ttf);
}

.profile-pic-card,
.chInfo,
.chHelpingText {
  position: absolute;
  top: 30px;
  width: 315px;
  height: 315px;
}

.profile-pic-card {
  left: 30px;
}

.chInfo,
.chHelpingText {
  left: 375px;
}

.user-icon {
  position: absolute;
  top: 50px;
  left: 50px;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 2;
}

.chInfo {
  font-weight: 500;
  font-size: 26px;
  color: white;
  text-shadow: 0 0 8px #000;
}

.name-text {
  position: absolute;
  top: 40px;
  left: 25px;
  z-index: 2;
}

.level-text {
  position: absolute;
  top: 40px;
  left: 175px;
  z-index: 2;
}

.chclass-text {
  position: absolute;
  top: 150px;
  left: 25px;
  z-index: 2;
}

.totalexp-text {
  position: absolute;
  top: 150px;
  left: 175px;
  z-index: 2;
}

.chHelpingText {
  font-weight: 300;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 4px #000;
}

.name-hr {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 120px;
  border-top: 1px solid white;
  z-index: 2;
}

.level-hr {
  position: absolute;
  top: 90px;
  left: 170px;
  width: 120px;
  border-top: 1px solid white;
  z-index: 2;
}

.chclass-hr {
  position: absolute;
  top: 200px;
  left: 20px;
  width: 120px;
  border-top: 1px solid white;
  z-index: 2;
}

.totalexp-hr {
  position: absolute;
  top: 200px;
  left: 170px;
  width: 120px;
  border-top: 1px solid white;
  z-index: 2;
}

.name-text-help {
  position: absolute;
  top: 90px;
  left: 25px;
  z-index: 2;
}

.level-text-help {
  position: absolute;
  top: 90px;
  left: 175px;
  z-index: 2;
}

.chclass-text-help {
  position: absolute;
  top: 200px;
  left: 25px;
  z-index: 2;
}

.totalexp-text-help {
  position: absolute;
  top: 200px;
  left: 175px;
  z-index: 2;
}

.stats-card {
  position: absolute;
  top: 404px;
  left: 30px;
  width: 315px;
  height: 354px;
}

.equipment-card {
  position: absolute;
  top: 404px;
  left: 376px;
  width: 315px;
  height: 354px;
}

.stats-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -45px;
  z-index: 2;
}

.equipment-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -45px;
  z-index: 2;
}

.stats-text, .equipment-text {
  font-weight: 600;
  font-size: 28px;
}

.statsHelpingText {
  font-weight: 500;
  font-size: 24px;
  color: MediumAquamarine;
  text-shadow: 0 0 3px #000;
}

.health-text-help {
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 2;
}

.atkpower-text-help {
  position: absolute;
  top: 80px;
  left: 60px;
  z-index: 2;
}

.critchance-text-help {
  position: absolute;
  top: 130px;
  left: 60px;
  z-index: 2;
}

.statsText {
  font-weight: 500;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 5px #000;
}

.health-text {
  position: absolute;
  top: 30px;
  left: 220px;
  z-index: 2;
}

.atkpower-text {
  position: absolute;
  top: 80px;
  left: 220px;
  z-index: 2;
}

.critchance-text {
  position: absolute;
  top: 130px;
  left: 220px;
  z-index: 2;
}

.stats-border {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}

.equipment-border {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}

.combat-button,
.home-button,
.settings-button,
.skill-button {
  position: absolute;
  top: 788px;
  width: 160px;
  height: 160px;
  transition: transform 0.2s;
}

.home-button {
  left: 30px;
}

.combat-button {
  left: 203px;
}

.skill-button {
  left: 376px;
}

.settings-button {
  left: 549px;
}

.combat-button:hover,
.home-button:hover,
.settings-button:hover,
.skill-button:hover {
  transform: scale(1.03);
}

.combat-button:active,
.home-button:active,
.settings-button:active,
.skill-button:active {
  filter: grayscale(50%) blur(0.8px);
  /* Example: Apply grayscale when clicked */
}

/*Start of combat page*/
/*Start of user/enemy UI*/
.user-card,
.enemy-card {
  position: absolute;
  top: 30px;
  width: 315px;
  height: 315px;
  z-index: 1;
}

.user-card {
  left: 30px;
}

.enemy-card {
  left: 376px;
}

.patch-border {
  position: absolute;
  margin: auto;
  top: 0;
}

.combat-stats {
  position: relative;
  width: 100%;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-top: -10px;
}

.user-name-combat,
.user-level-combat,
.enemy-name-combat,
.enemy-level-combat {
  width: 20%;
  text-align: center;
  white-space: nowrap;
}

.user-name-combat {
  white-space: nowrap;
  direction: rtl;
}

.hp-div {
  position: relative;
  width: 60%;
  text-align: center;
}

.hp-bar {
  width: 90%;
}

.user-health-combat {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 100%;
}

.enemy-health-combat {
  position: absolute;
  top: 40px;
  left: -15px;
  width: 100%;
}

.user-icon {
  position: absolute;
  top: 50px;
  left: 50px;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 2;
}

.enemy-skeleton-icon,
.enemy-rat-icon,
.enemy-slime-icon{
  position: absolute;
  top: 50px;
  left: 50px;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 2;
}

/*383px actions + log*/
/*Start of actions buttons*/
.actions-layout {
  position: absolute;
  top: 375px;
  left: 30px;
  width: 660px;
  height: 177px;
}

.actions-border {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}

.action-buttons {
  display: flex;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.attack-action {
  width: calc(100%/3);
  height: 128px;
  z-index: 2;
}

.defend-action {
  width: calc(100%/3);
  height: 128px;
  z-index: 2;
}

.heal-action {
  width: calc(100%/3);
  height: 128px;
  z-index: 2;
}

/*Start of log*/
.log-card {
  position: absolute;
  top: 582px;
  left: 30px;
  width: 660px;
  height: 176px;
}

.log-border {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}