<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>RPGExample</title>
  <link rel="stylesheet" href="../css/combatstyle.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>

<body>
  <div class="card">
    <div class="global-card"></div>
    <div class="user-card"></div>
    <div class="enemy-card"></div>
    <div class="actions-layout">
      <a href="#" class="attack-action">
        <iconify-icon icon="noto:crossed-swords" width="100" height="100"></iconify-icon>
      </a>
      <a href="#" class="defend-action">
        <iconify-icon icon="noto:shield" width="100" height="100"></iconify-icon>
      </a>
      <a href="#" class="heal-action">
        <iconify-icon icon="noto:red-heart" width="100" height="100"></iconify-icon>
      </a>
    </div>
    <div class="log-card"></div>
    <button href="#" class="home-card"></button>
    <button class="combat-card"></button>
    <button class="skill-card"></button>
    <button class="settings-card"></button>
    <iconify-icon class="user-icon" icon="iconamoon:profile-fill" width="250" height="250"></iconify-icon>
    <iconify-icon class="enemy-icon" icon="iconamoon:profile-fill" width="250" height="250"></iconify-icon>
    <iconify-icon class="home-icon" icon="ic:round-home" width="100" height="100"></iconify-icon>
    <iconify-icon class="combat-icon" icon="material-symbols:swords" width="100" height="100"></iconify-icon>
    <iconify-icon class="skill-icon" icon="mdi:axe" width="100" height="100"></iconify-icon>
    <iconify-icon class="settings-icon" icon="mdi:cog" width="100" height="100"></iconify-icon>
  </div>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>